<nav class="navbar">
    <div class="logo">JE.<span class="highlight">Dev</span></div>
    
    <div class="hamburger" id="hamburger-btn">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>

    <ul class="nav-links" id="nav-menu">
        <li><a href="#about" class="nav-link">Expertise</a></li>
        <li><a href="#projects" class="nav-link">Réalisations</a></li>
        <li><a href="#services" class="nav-link">Services</a></li>
        <li><a href="#contact" class="btn-nav nav-link">Contact</a></li>
    </ul>
</nav>